body {
  background-color: #f5f5f5;
  transition: all 1s ease;

  margin: 0;
  /*padding: 0 0 50rem 0;*/
  font-family: sans-serif;

}

.marqueeContainer {
  padding: 10rem;

}
.Marquee {
  text-align: center;
  font-size: 3rem;
  padding: .5rem;
  width: 70%;
  margin: 22rem auto;
  background: red;
  transition: all .5s ease-out;

  /* animation: App-logo-spin infinite 1s alternate; */
  color: #fff;
  border: 0px dashed green;
}

.Marquee:hover {
  border: 20px dashed green;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(-10deg); }
  to { transform: rotate(10deg); }
}
